AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=vchackathonstg;AccountKey=OBHuGPpwaSzer33dpDNDL6Ulbq9lYH+mD5Hc7grJ9fRTtRBU9wkF1OAhW23NhS3PW2XtimEa6m9uUP0n+dmhhA==;EndpointSuffix=core.windows.net;